/* Navbar Container */
.navbar{
    width: 100%;
    padding:20px;
    background: #111;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.logo{
    font-size:1.5rem;

}


